<h1>Welcome to My Site</h1>

<p>Please leave me a message below!</p>

<form method="post" action="/">

	<label for="name">Your Name</label>
	<input type="text" name="name" />


	<label for="message">Your Message</label>
	<input type="text" name="message" />

	<input type="submit" value="Post" />

</form>